In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [168]:
#input_path = 'C:\\Users\\Jackie\\Desktop\\20181025_PredictDiseaseSpread\\Data\\'
input_path = 'C:\\Users\\CHANJA8\\OneDrive - Orient Overseas Container Line Ltd\\Projects\\Personal\\PredictDiseaseSpread\\Data\\'

In [169]:
raw_df = pd.read_csv(input_path + 'dengue_features_train.csv')
raw_df.fillna(0, inplace=True)
raw_label = pd.read_csv(input_path + 'dengue_labels_train.csv')

In [181]:
raw_df.year = raw_df.year.astype(str)
raw_df.weekofyear  = raw_df.weekofyear.astype(str)
raw_df.week_start_date = raw_df.week_start_date.str.replace('-', '')

In [182]:
labelencoder_X = LabelEncoder()
raw_df.iloc[:, 0] = labelencoder_X.fit_transform(raw_df.iloc[:, 0])
raw_df.iloc[:, 1] = labelencoder_X.fit_transform(raw_df.iloc[:, 1])
raw_df.iloc[:, 2] = labelencoder_X.fit_transform(raw_df.iloc[:, 2])
raw_df.iloc[:, 3] = labelencoder_X.fit_transform(raw_df.iloc[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [0, 1, 2, 3])
raw_df = onehotencoder.fit_transform(raw_df).toarray()

In [190]:
# Feature Scaling
sc_X = StandardScaler()
raw_df = sc_X.fit_transform(raw_df)

In [191]:
X, X_test, y, y_test = train_test_split(raw_df, raw_label, test_size=0.2, random_state=18)

In [192]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=18)

In [195]:
y_train = y_train.total_cases
y_val = y_val.total_cases
y_test = y_test.total_cases

count    292.000000
mean      24.674658
std       47.252269
min        0.000000
25%        4.750000
50%       11.000000
75%       25.000000
max      395.000000
Name: total_cases, dtype: float64

In [196]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [197]:
y_pred = regressor.predict(X_val)

numpy.ndarray

(292, 373)

count    292.000000
mean      24.674658
std       47.252269
min        0.000000
25%        4.750000
50%       11.000000
75%       25.000000
max      395.000000
Name: total_cases, dtype: float64

818

ValueError: shapes (292,373) and (818,) not aligned: 373 (dim 1) != 818 (dim 0)

count    873.000000
mean      24.920962
std       44.401829
min        0.000000
25%        5.000000
50%       12.000000
75%       28.000000
max      461.000000
Name: total_cases, dtype: float64

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

numpy.ndarray

array([ 5.69996837e+00, -5.69996837e+00,  4.51685037e+01,  6.28916427e-01,
       -4.70231291e-03,  1.98272871e+00, -9.86194275e+00, -1.12112636e+02,
       -1.97146818e+01, -2.03329947e-02,  3.17822481e+00, -5.69265049e+00,
        2.46070440e+00,  1.50333478e+00, -1.18446745e+00, -1.40663055e-02,
       -1.35764169e+00, -2.03329947e-02,  6.21404159e+00, -2.59979008e+00,
       -6.31278671e-01,  3.96333429e-01, -1.40003246e-01, -2.79680899e-01,
        1.23625574e-02])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1019 entries, 177 to 1322
Data columns (total 25 columns):
iq                                       1019 non-null int32
sj                                       1019 non-null int32
year                                     1019 non-null int64
weekofyear                               1019 non-null int64
date                                     1019 non-null int32
ndvi_ne                                  1019 non-null float64
ndvi_nw                                  1019 non-null float64
ndvi_se                                  1019 non-null float64
ndvi_sw                                  1019 non-null float64
precipitation_amt_mm                     1019 non-null float64
reanalysis_air_temp_k                    1019 non-null float64
reanalysis_avg_temp_k                    1019 non-null float64
reanalysis_dew_point_temp_k              1019 non-null float64
reanalysis_max_air_temp_k                1019 non-null float64
reanalysis_min_air_temp_k                1019 non-null float64
reanalysis_precip_amt_kg_per_m2          1019 non-null float64
reanalysis_relative_humidity_percent     1019 non-null float64
reanalysis_sat_precip_amt_mm             1019 non-null float64
reanalysis_specific_humidity_g_per_kg    1019 non-null float64
reanalysis_tdtr_k                        1019 non-null float64
station_avg_temp_c                       1019 non-null float64
station_diur_temp_rng_c                  1019 non-null float64
station_max_temp_c                       1019 non-null float64
station_min_temp_c                       1019 non-null float64
station_precip_mm                        1019 non-null float64
dtypes: float64(20), int32(3), int64(2)
memory usage: 195.0 KB

count    1456.000000
mean       24.675137
std        43.596000
min         0.000000
25%         5.000000
50%        12.000000
75%        28.000000
max       461.000000
Name: total_cases, dtype: float64

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,,
1990-04-30,sj,1990,18,0.12260,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1990-05-07,sj,1990,19,0.16990,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
1990-05-14,sj,1990,20,0.03225,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4