In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
input_path = 'C:\\Users\\Jackie\\Desktop\\20181025_PredictDiseaseSpread\\Data\\'

In [23]:
raw_df = pd.read_csv(input_path + 'dengue_features_train.csv')
raw_df.fillna(0, inplace=True)
raw_label = pd.read_csv(input_path + 'dengue_labels_train.csv')
X, X_test, y, y_test = train_test_split(raw_df, raw_label, test_size=0.2, random_state=18)

In [24]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=18)

In [26]:
X_train.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
1414,iq,2009,37,2009-09-10,0.189617,0.192000,0.236814,0.269686,13.74,299.855714,...,9.30,75.232857,13.74,15.865714,13.042857,29.166667,14.133333,37.4,21.4,6.1
623,sj,2002,17,2002-04-23,-0.017600,0.051900,0.113571,0.111629,214.76,297.970000,...,31.00,83.657143,214.76,16.368571,2.514286,25.700000,6.185714,30.6,21.7,69.7
1180,iq,2005,10,2005-03-12,0.155843,0.137083,0.241871,0.146429,155.54,297.957143,...,201.40,97.687143,155.54,19.274286,4.828571,26.800000,6.700000,34.8,23.4,8.6
587,sj,2001,33,2001-08-13,0.089850,0.127833,0.200814,0.205114,29.00,300.742857,...,50.46,82.087143,29.00,18.892857,2.600000,28.642857,5.585714,32.2,25.6,24.3
1286,iq,2007,13,2007-03-26,0.238671,0.244743,0.216229,0.259186,93.14,297.835714,...,58.40,93.585714,93.14,18.214286,8.242857,28.250000,9.600000,34.6,21.5,66.1

In [27]:
y_train.head()

     city  year  weekofyear  total_cases
1414   iq  2009          37            2
623    sj  2002          17            1
1180   iq  2005          10           14
587    sj  2001          33           38
1286   iq  2007          13            6

In [32]:
raw_df.isnull().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [34]:
# Encoding categorical data
# Encoding the Independent Variable
labelencoder_X = LabelEncoder()
X_val[:, 0] = labelencoder_X.fit_transform(X_val[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X_val = onehotencoder.fit_transform(X_val).toarray()
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y_val = labelencoder_y.fit_transform(y_val)

TypeError: unhashable type: 'slice'

In [74]:
# Feature Scaling
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train)

In [75]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

array([ 5.69996837e+00, -5.69996837e+00,  4.51685037e+01,  6.28916427e-01,
       -4.70231291e-03,  1.98272871e+00, -9.86194275e+00, -1.12112636e+02,
       -1.97146818e+01, -2.03329947e-02,  3.17822481e+00, -5.69265049e+00,
        2.46070440e+00,  1.50333478e+00, -1.18446745e+00, -1.40663055e-02,
       -1.35764169e+00, -2.03329947e-02,  6.21404159e+00, -2.59979008e+00,
       -6.31278671e-01,  3.96333429e-01, -1.40003246e-01, -2.79680899e-01,
        1.23625574e-02])

In [69]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1019 entries, 177 to 1322
Data columns (total 25 columns):
iq                                       1019 non-null int32
sj                                       1019 non-null int32
year                                     1019 non-null int64
weekofyear                               1019 non-null int64
date                                     1019 non-null int32
ndvi_ne                                  1019 non-null float64
ndvi_nw                                  1019 non-null float64
ndvi_se                                  1019 non-null float64
ndvi_sw                                  1019 non-null float64
precipitation_amt_mm                     1019 non-null float64
reanalysis_air_temp_k                    1019 non-null float64
reanalysis_avg_temp_k                    1019 non-null float64
reanalysis_dew_point_temp_k              1019 non-null float64
reanalysis_max_air_temp_k                1019 non-null float64
reanalysis_min_air_temp_k                1019 non-null float64
reanalysis_precip_amt_kg_per_m2          1019 non-null float64
reanalysis_relative_humidity_percent     1019 non-null float64
reanalysis_sat_precip_amt_mm             1019 non-null float64
reanalysis_specific_humidity_g_per_kg    1019 non-null float64
reanalysis_tdtr_k                        1019 non-null float64
station_avg_temp_c                       1019 non-null float64
station_diur_temp_rng_c                  1019 non-null float64
station_max_temp_c                       1019 non-null float64
station_min_temp_c                       1019 non-null float64
station_precip_mm                        1019 non-null float64
dtypes: float64(20), int32(3), int64(2)
memory usage: 195.0 KB

In [26]:
# Visualising the Training set results
from matplotlib.colors import ListedColormap
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Training set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

count    1456.000000
mean       24.675137
std        43.596000
min         0.000000
25%         5.000000
50%        12.000000
75%        28.000000
max       461.000000
Name: total_cases, dtype: float64

In [ ]:
# Visualising the Test set results
from matplotlib.colors import ListedColormap
X_set, y_set = X_test, y_test
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Test set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,,
1990-04-30,sj,1990,18,0.12260,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1990-05-07,sj,1990,19,0.16990,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
1990-05-14,sj,1990,20,0.03225,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4